<!DOCTYPE html>
<html>
  <%- include('partials/head', { title: 'Licenses' }) %>
<body>
  <div class="app-container">
    <%- include('partials/sidebar') %>
    <div class="content">
      <h1>Licenses</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Platform</th>
            <th>Count</th>
            <th>Expiry</th>
            <th>Contract Term</th>
          </tr>
        </thead>
        <tbody>
        <% licenses.forEach(function(lic) { %>
          <tr>
            <td><%= lic.name %></td>
            <td><%= lic.platform %></td>
            <td><%= lic.count %></td>
            <td><%= lic.expiry_date %></td>
            <td><%= lic.contract_term %></td>
          </tr>
        <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
