<!DOCTYPE html>
<html>
<head>
  <title>Licenses</title>
</head>
<body>
  <nav>
    <a href="/">Business Info</a> |
    <a href="/licenses">Licenses</a> |
    <a href="/logout">Logout</a>
  </nav>
  <h1>Licenses</h1>
  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Platform</th>
        <th>Count</th>
        <th>Expiry</th>
        <th>Contract Term</th>
      </tr>
    </thead>
    <tbody>
    <% licenses.forEach(function(lic) { %>
      <tr>
        <td><%= lic.name %></td>
        <td><%= lic.platform %></td>
        <td><%= lic.count %></td>
        <td><%= lic.expiry_date %></td>
        <td><%= lic.contract_term %></td>
      </tr>
    <% }); %>
    </tbody>
  </table>
</body>
</html>
