<!DOCTYPE html>
<html>
  <%- include('partials/head', { title: 'Shop' }) %>
<body>
  <div class="app-container">
    <%- include('partials/sidebar') %>
    <div class="content">
      <h1>Shop</h1>
      <% if (cartError) { %>
        <p><%= cartError %></p>
      <% } %>
      <table>
        <thead>
          <tr><th>Image</th><th>Name</th><th>SKU</th><th>Description</th><th>Price</th><th>Stock</th><th>Order</th></tr>
        </thead>
        <tbody>
          <% products.forEach(function(p){ %>
            <tr>
              <td><% if (p.image_url) { %><img src="<%= p.image_url %>" width="50" alt=""><% } %></td>
              <td><%= p.name %></td>
              <td><%= p.sku %></td>
              <td><%- p.description.replace(/\n/g, '<br>') %></td>
              <td>$<%= p.price %></td>
              <td><%= p.stock %></td>
              <td>
                <form action="/cart/add" method="post">
                  <input type="hidden" name="productId" value="<%= p.id %>">
                  <input type="number" name="quantity" min="1" max="<%= p.stock %>" value="1">
                  <button type="submit">Add to Cart</button>
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
